In [29]:
name='krishna'

In [30]:
name

'krishna'

In [31]:
name='krishna'
age='19'
address='nellikuppam'

In [32]:
name,age,address

('krishna', '19', 'nellikuppam')

In [33]:
input('enter any word')

'dulasi'

In [34]:
input('enter first name:')
input('enter last name:')

''

In [35]:
print('krishna')
name=input('enter name')
print(name)

krishna

In [ ]:
firstname=input('enter first name:')
lastname=input('enter last name')
name=firstname+lastname

In [ ]:
number1=input('enter number 1:')
number2=input('enter number 2:')

In [ ]:
total=number1+number2
print(total)

1010

In [ ]:
'variable academy'

'variable academy'

In [ ]:
"this is krishna's phone"

"this is krishna's phone"

In [ ]:
name='krishna'
colleg='svcet'

In [ ]:
name

'krishna'

In [ ]:
colleg

'svcet'

In [ ]:
print('''your in svcet''')

your in svcet

In [ ]:
print("""your in svcet""")

your in svcet

In [ ]:
print('''your are in 
      atom reserch''')

your are in
      atom reserch

In [ ]:
print('i am krishna\nstuding in svcet')

i am krishna
studing in svcet

In [ ]:
print('i am krishna\n'
      'studing in svcet')

i am krishna
studing in svcet

In [ ]:
5

5

In [ ]:
x=13
print(x)

13

In [ ]:
10+12

22

In [ ]:
4.6

4.6

In [ ]:
4.6+9

13.6

In [ ]:
x=8.9
y=7.8
z=x+y
z

16.7

In [ ]:
x=.3
y=.1
z=x-y
print(round(z,5))

0.2

In [ ]:
x= None

In [ ]:
type(x)

NoneType

In [ ]:
x = 0
x

0

In [ ]:
type(x)

int

In [ ]:
x= True
x

True

In [ ]:
type(x)

bool

In [ ]:
type(.9)

float

In [ ]:
type(4)

int

In [ ]:
type(True)

bool

In [ ]:
type('.9')

str

In [ ]:
type(None)

NoneType

In [ ]:
a=int(input('enter a value'))
b=int(input('enter b value'))
print(f'a+b={a+b}')
print(f'a-b={a-b}')
print(f'a*b={a*b}')
print(f'a/b={a/b}')
print(f'a%b={a%b}')
print(f'a**b={a**b}')
print(f'a//b={a//b}')

a+b=9
a-b=-1
a*b=20
a/b=0.8
a%b=4
a**b=1024
a//b=0

In [ ]:
tamil=66
english=58
maths=99
science=96
social=79

In [ ]:
total=tamil+english+maths+science+social
total

398

In [ ]:
income=364
expense=87

In [ ]:
profit=income-expense
print(profit)

277

In [ ]:
price=99
quantity=12

In [ ]:
total=price*quantity
print(total)

1188

In [ ]:
print(f'total={total}')

total=1188

In [ ]:
value = ((10-7)*3)+1
print(value)

10

In [ ]:
cicle=50
radius=34
price=98
pi=3.14
area=pi*radius**2
total_area=area*cicle
total_area_01=total_area*price
total_area_01

17786216.0

In [ ]:
x=int(input('enter x value'))
y=int(input('enter y value'))
if x>y:
    print(f'{x }grater than{y}')
else:
    print(f'{y} grater than {x}')

10grater than6

In [ ]:
x=int(input('enter x value'))
if x<0:
    print('negative')
if x>0:
    print('postive')
if x==0:
    print('zero')

zero

In [ ]:
year=int(input('enter the year'))
if year%2==0:
    print('leap year')
if year%2!=0:
    print('non leap year')

non leap year

In [ ]:
age=input('enter your age')
age=int(age)

In [ ]:
age

16

In [ ]:
if age<10:
    print('Cortoon')
else:
    print('Horror')

Horror

In [ ]:
age=input('enter your age')
age=int(age)

In [ ]:
age

6

In [ ]:
print('Cortoon') if age<10 else print('horror')

Cortoon

In [ ]:
state=input('enter state')

In [ ]:
state

'Tamil nadu'

In [ ]:
if state=='Tamil nadu':
    print('tamil movie')
elif state=='karnataka':
    print('kannada movie')
else:
    print('english movie')

tamil movie

In [ ]:
state=input('enter the state')

In [ ]:
match state :
    case'tamil nadu':
        print('tamil movie')
    case _:
        print('englis movie')

englis movie

In [ ]:
state=input('enter state')
if state == 'tamil nadu':
    print('tamil movie')
elif state== 'karnataka':
    print('kanada movie')
else:
    print('englis movie')

tamil movie

In [ ]:
state=input('enter the state')

In [ ]:
match state:
    case'tamil nadu':
        print('tamil movie')
    case _:
        print('english movie')

english movie

In [ ]:
idly=input('how is today''s idly? GOOD OR BAD?:')
chutney =input('how is chutney?good or bad?:')
print(idly,chutney)

good good

In [ ]:
if idly=='good'and chutney=='good':
    print('today brakfast was bad')
else:
    print('today breakfast was good')

today brakfast was bad

In [ ]:
lottery1=input('have you won?yes or no:')
lottery2=input('have you won?yes or no:')
print(lottery1,lottery2)

yes yes

In [ ]:
if lottery1=='yes'or lottery2=='yes':
    print('happy')
else:
    print('not happy')

happy

In [ ]:
books=['python','r program','sql','dart']
books

['python', 'r program', 'sql', 'dart']

In [ ]:
books.append('c++')
books

['python', 'r program', 'sql', 'dart', 'c++']

In [ ]:
books.remove('c++')
books

['python', 'r program', 'sql', 'dart']

In [ ]:
books.clear()
books

[]

In [ ]:
books=['python','sql','dart','flask']
books

['python', 'sql', 'dart', 'flask']

In [ ]:
books[0]

'python'

In [ ]:
books[2]

'dart'

In [ ]:
books.insert(3,'rust')
books

['python', 'sql', 'dart', 'rust', 'flask']

In [ ]:
books[3]

'rust'

In [ ]:
books[3]='django'
books

['python', 'sql', 'dart', 'django', 'flask']

In [ ]:
'python' in books

True

In [ ]:
len(books)

5

In [ ]:
class_a=['parthiban','basith','ashwin']
class_b=['thasleem',"ahamed",'arish']
school=[class_a,class_b]

In [ ]:
school

[['parthiban', 'basith', 'ashwin'], ['thasleem', 'ahamed', 'arish']]

In [ ]:
weekdays=('mon','tue','wed','thu','fri')
weekdays

('mon', 'tue', 'wed', 'thu', 'fri')

In [ ]:
weekdays.count('mon')

1

In [ ]:
weekdays[0]

'mon'

In [ ]:
weekdays.index('thu')

3

In [ ]:
len(weekdays)

5

In [ ]:
p={'Name':'krishna','age':19,'EDU':'B.TECH'}
p

{'Name': 'krishna', 'age': 19, 'EDU': 'B.TECH'}

In [ ]:
p.pop('age')

KeyError: 'age'

In [ ]:
p

{'Name': 'krishna', 'EDU': 'B.TECH'}

In [ ]:
p

{'Name': 'krishna', 'EDU': 'B.TECH'}

In [ ]:
'Name'in p

True

In [ ]:
'krishna' in p.values()

True

In [ ]:
i=1
while(i<=10):
    print(i)
    i=i+1

1
2
3
4
5
6
7
8
9
10

In [ ]:
i=10
while(i>=1):
    print(i)
    i=i-1

10
9
8
7
6
5
4
3
2
1

In [ ]:
i=2
while(i<=10):
    print(i)
    i=i+2

2
4
6
8
10

In [ ]:
count=1
while(count<=5):
    print(count)
    count+=1

1
2
3
4
5

In [ ]:
musicdirectors=['ani','raja','u1','deva']
musicdirectors

['ani', 'raja', 'u1', 'deva']

In [ ]:
list=[]
list.append(f'Mr.{musicdirectors[0]}')
list.append(f'Mr.{musicdirectors[1]}')
list.append(f'Mr.{musicdirectors[2]}')
list.append(f'Mr.{musicdirectors[3]}')
list

['Mr.ani', 'Mr.raja', 'Mr.u1', 'Mr.deva']

In [ ]:
musicdirectors=['ani','raja','u1','deva']
musicdirectors

['ani', 'raja', 'u1', 'deva']

In [ ]:
list=[]
count=0
while count<len(musicdirectors):
    list.append(f'Mr.{musicdirectors[count]}')
    count+=1
list

['Mr.ani', 'Mr.raja', 'Mr.u1', 'Mr.deva']

In [ ]:
prices=[100,736,67,87]
prices

[100, 736, 67, 87]

In [ ]:
total_price=[]
count=0
while count<len(prices):
    tax=prices[count]*(18/100)
    total=prices[count]+tax
    total_price.append(total)
    count+=1
total_price

[118.0, 868.48, 79.06, 102.66]

In [ ]:
prices=[100,736,67,87]
prices

[100, 736, 67, 87]

In [ ]:
list=['coke','pepsi','sprite','fanta']
list

['coke', 'pepsi', 'sprite', 'fanta']

In [ ]:
for i in list:
    print(i)

coke
pepsi
sprite
fanta

In [ ]:
for i in list:
    print(i,end=',')

coke,pepsi,sprite,fanta,

In [ ]:
sentenc='My name is dulasi'
for i in sentenc:
    print(i)

M
y

n
a
m
e

i
s

d
u
l
a
s
i

In [ ]:
for i in sentenc:
    print(i,end='')

My name is dulasi

In [ ]:
numbers=range(1,5,1)
numbers

range(1, 5)

In [ ]:
for num in numbers:
    print(num)

1
2
3
4

In [ ]:
numbers=range(6,16,2)
numbers

range(6, 16, 2)

In [ ]:
for num in numbers:
    print(num)

6
8
10
12
14

In [ ]:
for i in range(0,5):
    for j in range(0,i):
        print(j,end=',')
        j=j+1
    print()

0,
0,1,
0,1,2,
0,1,2,3,

In [ ]:
shoppin_cart1=['charger','i phone','pencil','note book']
shoppin_cart2=['head phone','5.1 speaker','carrom']
shoppin_cart3=['shirt','phant','guitor','tab']
shopping_carts=['shoppin_cart1','shoppin_cart2','shoppin_cart3']

i=0
while i<len(shopping_carts):
    j=0
    while j<len(shopping_carts[i]):
        print(shopping_carts[i][j])
        j=j+1
    i=i+1

s
h
o
p
p
i
n
_
c
a
r
t
1
s
h
o
p
p
i
n
_
c
a
r
t
2
s
h
o
p
p
i
n
_
c
a
r
t
3

In [ ]:
i=0
while i<len(shopping_carts):
    j=0
    while j<len(shopping_carts[i]):
        print(shopping_carts[i][j])
        j=j+1
    i=i+1

s
h
o
p
p
i
n
_
c
a
r
t
1
s
h
o
p
p
i
n
_
c
a
r
t
2
s
h
o
p
p
i
n
_
c
a
r
t
3

In [ ]:
beverages=['pepsi','mirinda','fanta','bovanta']
count=0
while count<len(beverages):
    print(beverages[count])
    if beverages[count]=='fanta':
        print('fanta is available')
        break
    count+=1

pepsi
mirinda
fanta
fanta is available

In [ ]:
beverages=['pepsi','mirinda','fanta','bovanta']
for beverage in beverages:
    print(beverage)
    if beverage=='fanta':
        print('fanta availabele')
        break

pepsi
mirinda
fanta
fanta availabele

In [ ]:
beverages=['pepsi','mirinda','fanta','bovanta']
count=0

while count<len(beverages):
    if beverages[count]=='fanta':
        count +=1
        continue
    print(f'buy {beverages[count]}')
    count+=1

buy pepsi
buy mirinda
buy bovanta

In [ ]:
beverages=['pepsi','mirinda','fanta','bovanta']
for beverage in beverages:
    if beverage=='fanta':
        continue
    print(f'buy {beverage}')

buy pepsi
buy mirinda
buy bovanta

In [ ]:
=['tamil','english','maths']
count
while count<len(books):
    if books[count]=='marathi':
        print('marathi book found')
    count+=1
else :
    print('book is not availabe')

book is not availabe

In [ ]:
if age<30:
    print('young')

NameError: name 'age' is not defined

In [ ]:
try:
    if age<30:
        print('young')
except:
    print('error occured')
finally:
    print('operation done!')

error occured
operation done!

In [ ]:
try: 
    if age<30:
        print('young')
except NameError:
    print('name not defined')
except:
    print('other Error')

name not defined

In [ ]:
age= input('enter your age')
try: 
    if age<30:
        print('young')
except NameError:
    print('name not defined')        
except TypeError:
    print('type not valid')

type not valid

In [ ]:
age= input('enter yor age')
try:
    if age<30:
        print('young')
except NameError:
    print('name not defined')        
except Exception as ex:
    print(f'other error:\n {ex}')

other error:
 '<' not supported between instances of 'str' and 'int'

In [ ]:
file= open('variablz.txt','x')

In [ ]:
file= open('variablz.txt','x')

FileExistsError: [Errno 17] File exists: 'variablz.txt'

In [ ]:
file= open('variablz.txt','w')
file.write('''Hi
           i am krishna
           how are you''')
file.close()

In [ ]:
file= open('variablz.txt','a')
file.write('''Hi
           i am krishna
           how are you 
           bye''')
file.close()

In [ ]:
file= open('variablz.txt','r')
print(file.read())
file.close()

Hi
           i am krishna
           how are youHi
           i am krishna
           how are youHi
           i am krishna
           how are you
           byeHi
           i am krishna
           how are you
           bye

In [ ]:
import os

In [ ]:
if os.path.exists("variablz.txt"):
    print('fie exist')
else:
    print("file does not exist")

fie exist

In [ ]:
def student_data ():
    N=input('Enter your name:')
    B=input('Enter your brance')
    c=input('Enter ur clg')
    return N,B,c

In [ ]:
a= student_data()
print(a)

('Dulasi', 'Cse', 'Svcet')

In [ ]:
# rectangular area 01
length =50
width=40
area_01=length*width

print(area_01)

2000

In [ ]:
def calc_area(len,wid):
def calc_area(len,wid):
    area = len*wid
    print (area)

In [ ]:
calc_area(50,40)
calc_area(100,30)
calc_area(50,90)

2000
3000
4500

In [ ]:
def calc_area(len,wid):
    area = len*wid
    return area

In [ ]:
area01=calc_area(50,40)
area02=calc_area(100,30)
tot_area=area01+area02
tot_area

5000

In [ ]:
def add_user(name,mailid,phno,age=16):
    user={'firstname':name,
          'mailid':mailid,
          'phno':phno,
          'age':age
          }
    return user

In [ ]:
add_user('krish','krish76@gmail.com','1236547895')

{'firstname': 'krish',
 'mailid': 'krish76@gmail.com',
 'phno': '1236547895',
 'age': 16}

In [ ]:
add_user('krish','krish76@gmail.com','1236547895',17)

{'firstname': 'krish',
 'mailid': 'krish76@gmail.com',
 'phno': '1236547895',
 'age': 17}

In [ ]:
def add_user(name,mailid,phno,age=16,city='cdlr'):
    user={'firstname':name,
          'mailid':mailid,
          'phno':phno,
          'age':age,
          'city':city
    }
    return user

In [ ]:
add_user('krish','krish76@gmail.com','1236547895',city='cdlr')

{'firstname': 'krish',
 'mailid': 'krish76@gmail.com',
 'phno': '1236547895',
 'age': 16,
 'city': 'cdlr'}

In [ ]:
add_user('krish','krish76@gmail.com','1236547895',city='cdlr',age=23)

{'firstname': 'krish',
 'mailid': 'krish76@gmail.com',
 'phno': '1236547895',
 'age': 23,
 'city': 'cdlr'}

In [ ]:
def order_foods(*items):
    cart=[]
    for item in items:
        cart.append(item)
    return cart

In [ ]:
lunch =order_foods('idly','dhosa','poori')
print(lunch)

['idly', 'dhosa', 'poori']

In [ ]:
def sum_all_numbers(*numbers):
    tot=sum(numbers)
    return tot

In [ ]:
sum_all_numbers(1,10,3,5,8)

27

In [ ]:
class student:
    name="janani"
    address="nellikuppam"

In [ ]:
s1=student()
print (s1.name)
print (s1.address)

janani
nellikuppam

In [ ]:
class bank: 
    msg='welcomre to uko bank'
    def Bankinfo(self,name,dept,sallary):
        self.name=name
        self.dept=dept
        self.sallary=sallary
    def disp(self):
        print('message',self.msg)
        print('emp name',self.name)
        print('dept name',self.dept)
        print('sallary',self.sallary)

In [ ]:
b1=bank()
b1.Bankinfo('krihna','cashier',60000)
b1.disp()

message welcomre to uko bank
emp name krihna
dept name cashier
sallary 60000

In [ ]:
class AmazonAccount:
    def __init__(self):
        print(f'object created')
    def __del__(self):
        print('object deleted')  
parthiban=AmazonAccount()        

del parthiban

object created
object deleted
object deleted

In [ ]:
class AmazonAccount:
    msg='welcome to Amazon'
    __default_delivary=7
    def __init__(self,name,mail):
        self.name=name
        self.mail=mail
        print(f'hello{self.name}!\n{self.msg}')

In [ ]:
dk=AmazonAccount('dk','dk@gmail.com')

hellodk!
welcome to Amazon

In [ ]:
dk.name

'dk'

In [ ]:
dk.__mail

AttributeError: 'AmazonAccount' object has no attribute '__mail'

In [ ]:
class standard_account:
    __default_delivery=7
    welcomeMessage='welcome to Aatomz Account'
    def __init__(self,name,mobile,email):
        self.name=name
        self.mobile=mobile
        self.email=email
        print(self.welcomeMessage)
    def shopping(self,item):
        print(f'{self.name} bought {item}')
    def delivery(self):
        print(f'your oredr will be deliverd'in {self.__default_delivery})
    def deactivate_account(self):
        print(f'{self.name} account deactivate successfully')

In [ ]:
class premium_account(standard_account):
    welcomeMessage='welcome to aatomz **prime** Account'
    def delivery(self):
        premium_delivery=1
        print(f'''your order will be delivered 
              in {premium_delivery} days''')
    def prime_vedio(self):
        print('Prime Vedio Membership enabled')
    def cancel_membership(self):
        print(f'{self.name}successfully cancelled the membership')

In [ ]:
myAccount=standard_account('krishna','121345698','krishna@gmail.com')
myAccount.name

welcome to Aatomz Account

'krishna'

In [ ]:
myAccount.delivery()
myAccount.shopping('iphone')
myAccount.deactivate_account()

False
krishna bought iphone
krishna account deactivate successfully

In [ ]:
myPremiumAccount=premium_account('krishna','1234567890',
                                 'krishna@aatomz.com')
myPremiumAccount.name

welcome to aatomz **prime** Account

'krishna'

In [ ]:
myPremiumAccount.delivery()

your order will be delivered
              in 1 days

In [ ]:
myPremiumAccount.shopping('iphone')

krishna bought iphone

In [ ]:
myPremiumAccount.prime_vedio()

Prime Vedio Membership enabled

In [ ]:
myPremiumAccount.deactivate_account()

krishna account deactivate successfully